AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=ASIAV5ZCLZ2UXL5VJ5SC
AWS_SECRET_ACCESS_KEY=xDNZJQIkt/LOyqpciFqLft5AwASnE7ikXL+pM2ey
AWS_SESSION_TOKEN=IQoJb3JpZ2luX2VjEI3//////////wEaCXVzLXdlc3QtMiJHMEUCIQDAI9F1iJVUM4mTCBwA0QDAs/cKfUaMcwpS1CGBpOT3IgIgHcSxbO+rFeGRoJDdU4bNtdaeiDfa11LDgA4joZj0Ol4qugIIpv//////////ARABGgw0MDc1NTcwOTkxNzciDCUo1V493PpmTSJ2LiqOAj3/iWV6+zv4QwtvOUW681WsbCAnGxwBmzC5+h8osd2K4Isb5mU8g2+jsYaGE4ACvIVQK8EVKsEMFrTgegzxuiWYxsQdlRFGmpxVXQpIQ++U5ttnfn0YJ+EKTCa9MRV0cptYCCfyorV/kLSmOVZahCcGrolkoPUkm1KotEhNTkE7En3cAtYvyIbY71vV6CM6cPjSg9MK9++sJE1HIR5hLg2dgQ1CT5wz/YYzZ/u+xcUUtT3cjnAED7HdcSvp19indKEPE+qsgkGgkfC+24BPm8Je85DLVj61RlGMugGS6jJYo0nLpC819wQr5rIM+WpaBqsqQ6j/YvtL8ye8SKSjsYWnsjNodcUvsVpGT2qszDC7yKK9BjqdAT8qFbHDhWsFiVEkZuX67HJbj6oJ/VYqWuDgKSycAZr15vuqLB5N0MttVeUpME08zB5RP+iB9Vucdx6lWJ5jF08VdE7qsc4Sht6UAkH3FNmZnnluoO8IaRSlF1CEmrkOOi9IqRH+WFto6lhlmZfxmrrean8IXvCszhhQEYny3foLv0OptO7VW8jIdRnqgea+6dyw3bPzI45LwnF0F0Y=

VIDEOS_BUCKET_NAME=afluga-hacka-videos-storage
FRAMES_BUCKET_NAME=afluga-hacka-frames-storage
VIDEO_PROCESSING_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/407557099177/afluga-hacka-video-processing-queue
NOTIFICATION_QUEUE_URL=afluga-hacka-notification-queue